DATABASE_URL=your_database_url
RECAPTCHA_SECRET_KEY=your_recaptcha_secret_key
STRIPE_SECRET_KEY=your_stripe_secret_key
PORT=8080
EMAIL_SENDER=ton_email@gmail.com
EMAIL_PASSWORD=ton_app_password
FRONTEND_URL=https://groupie-tracker-ynov.vercel.app